h1 {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 7vh;
}

html {
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

input {
    width: 35vh;
    border-width: 1px 1px;
    outline: none;
    padding: 4px 5px;
    /* box: rgb(248, 248, 248) ; */
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 199);
}

span {
    display: flex;
    margin-top: 25px;
}

#ratingHeader,
#deleteHeader {
    margin-top: auto;
    margin-bottom: auto;
}

#title {
    width: 50%;
}

#titleHeader div,
#ratingHeader div {
    display: inline-block;
}

#titleHeader,
#ratingHeader {
    text-align: center;
    padding-right: 5px;
}

#rating,
#delete,
#deleteHeader {
    text-align: center;
    width: 25%;
}

#titleHeader div,
#ratingHeader div,
#deleteHeader {
    vertical-align: middle;
}

#sortButtons button {
    margin: 5px;
}

.addRating,
.my_button {
    margin-left: 100px;
}

.my_button,
.delete_button,
.ascButton,
.descButton {
    background-color: rgb(153, 99, 192);
    color: white;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0 3px rgb(207, 131, 223);
}

.my_button:hover,
.delete_button:hover,
.ascButton:hover,
.descButton:hover {
    background-color: rgb(133, 54, 189);
}

.my_button:active,
.delete_button:active,
.ascButton:active,
.descButton:active {
    transform: translateY(3px);
    box-shadow: 0 0px lavender;
}

.ascButton,
.descButton {
    border-radius: 2px;
    display: flex;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}